body {
  font-family: "Arial", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.game-container {
  position: relative;
  background-color: #3a3a3a;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameCanvas {
  border: 4px solid #2ecc71;
}

#scoreboard {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #2ecc71;
  font-weight: bold;
}

/* Popup fin de jeu */
.game-over-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  display: none;
  z-index: 10;
}

.game-over-popup h2 {
  color: #fff;
  margin-bottom: 20px;
}

.game-over-popup p {
  color: #bbb;
}

.game-over-popup button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 25px;
}

.game-over-popup button:hover {
  background-color: #27ae60;
}

/* Leaderboard */
#leaderboard {
  color: #fff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  overflow-y: auto;
  text-align: center;
}

#leaderboard h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

#leaderboard ul {
  list-style-type: none;
  padding: 0;
}

#leaderboard li {
  margin-bottom: 5px;
}

#resetLeaderboardBtn {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#resetLeaderboardBtn:hover {
  background-color: #c0392b;
}

#gameTitle {
  font-size: 40px;
  font-family: "Courier New", monospace;
  color: #2ecc71;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  text-align: center;
}
